<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.hidden_field :profilepic, value: 'http://baxtercoaching.com/wp-content/uploads/2013/12/facebook-default-no-profile-pic-300x300.jpg' %>
  </div>

  <div class="field">
    <%= f.hidden_field :bannerpic,  value: 'http://cdn5.fedobe.com/wp-content/uploads/2012/09/Blue-Space-Facebook-Profile-Timeline-Cover.jpg'  %>
  </div>

  <div class="field">
    <%= f.label :firstname %>
    <%= f.text_field :firstname, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :dob %>
    <%= f.date_field :dob %>
  </div>

  <div class="field">
    <%= f.label :industry %>
    <%= f.select(:industry, ["Accountancy", "Advertising, Marketing & Public Relations", "Agriculture & Environment",  "Animal Welfare", "Armed Forces", "Art & Design", "Banking & Finance", "Charity & Non-Profit", "Construction & Property", "Consultancy", "Education & Teaching", "Energy & Utilities", "Engineering", "Entrepreneurship", "Fashion & Beauty", "Fast Moving Consumer Goods", "Gaming", "Geomancy", "Hospitality, Leisure & Tourism", "Information Technology", "Law", "Manufacturing Industry", "Medicine & Healthcare", "Performing Arts", "Police, Security & Emergency", "Public Sector & Government", "Publishing & Media", "Recruitment & HR", "Retail & Merchandising", "Science & Research", "Social Care", "Sports & Fitness", "Transport & Logistics"]) %>
  </div>

  <div class="field">
    <%= f.label :occupation %>
    <%= f.text_field :occupation %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
